[submodule "ros2/src/rplidar_ros2"]
	path = ros2/src/rplidar_ros2
	url = https://github.com/CreedyNZ/rplidar_ros2
[submodule "ros2/src/ros_tutorials"]
	path = ros2/src/ros_tutorials
	url = https://github.com/ros/ros_tutorials.git
[submodule "ros2/src/rosbridge_suite"]
	path = ros2/src/rosbridge_suite
	url = https://github.com/RobotWebTools/rosbridge_suite
[submodule "ros2/src/src/navigation2"]
	path = ros2/src/src/navigation2
	url = https://github.com/ros-navigation/navigation2.git
