[submodule "ros2/src/rplidar_ros2"]
	path = ros2/src/rplidar_ros2
	url = https://github.com/ros/ros_tutorials.git
[submodule "ros2/src/ros_tutorials"]
	path = ros2/src/ros_tutorials
	url = https://github.com/ros/ros_tutorials.git
